@import "../Css-variables/css-variables.scss";

.about.about-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: relative;

    h2 {
        padding: 1rem;
        margin: 2rem 0 0 3rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 5rem;
    }
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

.describeMe {
    display: flex;
    width: 650px;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 3.33rem;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.2;
    font-weight: 300;
    text-align: justify;


    span {
        display: contents;
        color: var(--color-primary);
    }

}



.contact-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    align-items: flex-end;

    p {
        color: var(--color-additional);
        padding: 0.5rem 5rem;
    }

    p:nth-child(odd) {
        writing-mode: vertical-lr;
    }
}


.icons {

    i {
        color: var(--color-additional);
        padding: 0.5rem;
        cursor: pointer;
    }
}

.image {
    padding: 6rem;
}

@media screen and (min-width: 200px) and (max-width: 1100px) {

    .about.about-component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        position: relative;

        h2 {
            padding: 0.5rem;
            margin: 0
        }
    }

    .image {
        display: none;
    }

    .describeMe {
        padding: 1rem;
        width: 80%;
    }

    .contact-container {

        p {
            padding: 0.5rem 0.5rem;
        }

        p:nth-child(odd) {
            writing-mode: vertical-lr;
        }
    }
}