.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3.3rem;
    height: 100%;
    background: #0a192f;
}

.title {
    display: flex;
    flex-direction: column;

    h1 {
        color: #e63946;
        font-family: 'Ubuntu', sans-serif;
        margin: -2.5% 0 -2% 7%;
        font-size: 6.6em;
        font-weight: 500;
    }

    p {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-size: 4rem;
        font-weight: 300;
    }

    p:first-child {}

    p:last-child {
        margin-left: 6.2em;
    }
}

.vertical-line {
    border-left: 6px solid #ffffff;
    height: 14rem;
    margin-right: 2rem;
}