@import "../Css-variables/css-variables.scss";

.contentImage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90vw; */
    height: 100%;

    img {
        width: 100%;

    }
}

.componentProject {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-card {
    padding: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: var(--color-primary);
        font-size: 1.7em;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    h3 {
        margin: 0;
        color: var(--color-additional);
    }
}

.block {
    display: flex;
    align-items: center;
    width: 15rem;
    height: 7rem;
    margin: 0.5rem 0 0 0;
    background-color: var(--color-secondary);
    padding: 1rem;
    color: var(--color-white);
    -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
}

.techno {
    position: relative;
    bottom: 6px;
    left: 72px;
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    font-size: 13px;
}

ul.techno>li {
    margin-right: 2%;
    color: var(--color-additional)
}

.contentCard {
    text-align: center;
}

.card-animated {
    width: 26ch;
    height: 12ch;
    padding: 1rem;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .project {
        h2 {
            font-size: 3em;
        }

        h3 {
            margin: 0;
            color: var(--color-additional);
        }
    }

    .block {
        width: 18rem;
        height: 6rem;
    }

    .card-animated {
        width: 30ch;
        height: 14ch;
    }

    .techno {
        position: relative;
        bottom: 5px;
        left: 98px;

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-project {
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
    }

    .project {


        h2 {
            font-size: 2.6em;
        }

        h3 {
            font-size: 0.8em;
            font-weight: lighter;
            margin-left: 15.5rem;
        }
    }

    .block {
        margin: 0;
    }

    .techno {
        bottom: 5px;
        left: 96px;
    }

    .card-animated {
        margin-top: 3.8rem;
        width: 32ch;
        height: 16ch;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .project {

        h2 {
            font-size: 3em;
        }

        h3 {
            margin-left: 19.3rem;
            margin-bottom: 0.1rem;
        }
    }

    .block {
        width: 22rem;
    }

    .techno {
        bottom: 5px;
        left: 128px;
    }

    // CARD ANIMATED
    .card-animated {
        margin-top: 2.3rem;
        width: 49ch;
        height: 31ch;
        border-radius: 5px;
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.5s;
        will-change: transform;
        border: none;
        transform: translateX(-50%) translateY(calc(-50% - 0.2em));
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .contentCardBeware {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        filter: blur(0);
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .project {

        h2 {
            font-size: 4.4rem;
        }

        h3 {
            margin-left: 27.3rem;
        }
    }

    .block {
        width: 30rem;
        height: 7.5rem;
        padding: 1rem;
    }

    .techno {
        font-size: 16px;
        bottom: 5px;
        left: 190px;
    }

    .card-animated {
        width: 52ch;
        height: 31ch;
        padding: 1rem;

    }

    .contentCardBeware {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        filter: blur(0);
    }
}




// .componentProject {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
//     background-color: var(--color-background);
// }

// .project {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
// }

// .project-title {
//     margin-right: 2rem;
// }

// .index-project {
//     font-size: 8rem;
//     font-weight: 500;
//     color: var(--color-primary);
// }

// .container-card {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
// }

// .container-project {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     justify-content: space-evenly;
//     align-items: flex-end;
// }

// h2 {
//     padding: 1rem;
//     color: var(--color-primary);
//     font-size: 4.5rem;
//     font-weight: 500;
// }

// .block {
//     width: 30rem;
//     height: 7rem;
//     background-color: var(--color-secondary);
//     padding: 1rem;
//     margin-right: 2rem;
//     color: var(--color-white);
//     -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
//     -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
//     box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
// }

// .subtitle {
//     padding: 0 3rem 0 0;
//     margin: 0 0 1% 0;
//     font-family: 'Inter', sans-serif;
//     font-size: 0.8em;
//     font-weight: 100;
//     color: var(--color-white);
// }

// .techno {
//     display: flex;
//     justify-content: flex-end;
//     margin: 1% 5% 0 0;
//     list-style-type: none;
// }

// ul.techno>li {
//     margin-right: 2%;
//     color: var(--color-additional)
// }

// .card {
//     width: 50ch;
//     height: 30ch;
//     padding: 1rem;
//     background: transparent;
//     border-radius: 5px;
//     box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
//     transition: box-shadow 0.5s;
//     will-change: transform;
//     border: none;
//     transform: translateX(-50%) translateY(calc(-50% - 0.2em));
//     -webkit-font-smoothing: subpixel-antialiased;
// }

// .card:hover {
//     box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
// }

// .contentCard {
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }

// .contentCardDsi {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     filter: blur(0);
// }

// .contentCardBeware {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     filter: blur(0);
// }

// @media screen and (min-width: 600px) and (max-width: 1100px) {
//     .fade-title {
//         margin: 1rem;
//     }

//     .componentProject {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         height: 100%;
//         width: 100%;
//         background-color: var(--color-background);
//         padding: 1rem;
//     }

//     .container-project {
//         flex-direction: column;
//         align-items: center;
//         position: relative;
//     }

//     h2 {
//         padding: 0;
//         margin: 0;
//         font-size: 3rem;
//     }

//     .project {
//         align-items: center;
//     }

//     .techno {
//         position: relative;
//         bottom: 140px;
//         left: 156px;
//     }

//     .subtitle {
//         position: relative;
//         right: 195px;
//     }

//     .block {
//         margin: 0;
//         height: 5.2rem;
//         padding: 1rem;
//         text-align: justify;

//         p {
//             margin: 0;
//             text-align: justify;
//         }
//     }

//     .card {
//         height: 23ch;
//         margin-bottom: 2rem;
//     }

//     .zoom-card {
//         margin-bottom: 2rem;
//     }

// }