@import "./Css-variables/scss-variables.scss";
@import "./Css-variables/css-variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description {
  text-align: justify;
  font-size: 13px;
  margin: 0.1rem;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .description {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .description {
    font-size: 17.5px;
  }
}